.userHolder {
  position: absolute;
  left: 0;
  top: 0;
  width: 20vw;
  height: 100%;
  padding: 1rem;

  background-color: brown;
}

.repoHolder {
  position: absolute;
  right: 0;
  top: 0;
  width: 80vw;
  height: 100%;
}
