.overlay {
  position: absolute;
}

.overlayArrow {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
  bottom: -4px;
}

.overlayArrow ::before {
  content: '';
  position: absolute;
  transform: rotate(45deg);
  background: #000;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
}

.overlayBody {
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  background-color: #000;
}
